<!-- Footer -->

<footer class="w3-container w3-padding-16 w3-light-grey">
    <p>Copyright © 2020 <a href="https://github.com/OFTEIN-NET/OFTEIN-MultiTenantPortal/blob/main/LICENSE"
                           target="_blank">OF@TEIN++</a></p>
</footer>

</div>
</body>
</html>